<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf8"> -->
		<meta charset="utf8"/>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<sctipt src="/socket.io/socket.io.js"></sctipt>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<form action="/talk" method="post" >
  			<input type="text" name="user" value="" autocomplete="off" /><button>login</button>
		</form>
	</body>
</html>